
@{
    ViewBag.Title = "Vehicles";
}
@if (HttpContext.Current.Session["Items"] != null)
{
    HttpContext.Current.Session["Items"] = null;
}
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>
                        <span>@UMoveNew.Views.Trips.Vehicles.WHATTYPEOFVEHICLE</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4"><h3></h3></div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/1" class="icon-box">
                                    <i class="number-counter__icon fa fa-car"></i>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.Cars</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/2" class="icon-box">
                                    <i class="number-counter__icon fa fa-motorcycle"></i>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.Motorcycles</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->
                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/3" class="icon-box">
                                    <i class="fa fa-ship"></i>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.PowerBoats</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->


                    </div>
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/4" class="icon-box">
                                    <i class="fa fa-truck"></i>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.RecreationalVehicles</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/5" class="icon-box">
                                    <i class="fa fa-bicycle"></i>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.Powersports</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->
                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createVeh/6" class="icon-box">
                                    <span class="fa fa-fire"></span>
                                    <h4 class="icon-box__title">@UMoveNew.Views.Trips.Vehicles.FarmEquipment</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

